article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #1B3341;
  color: #FFFFFA;
  font-family: "Muli", sans-serif;
  font-size: 2rem; }

.skip-link:focus {
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%); }

.header {
  grid-area: header; }
  .header__h1 {
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 5rem;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 5rem;
    color: black; }
    .header__h1::before {
      content: '{ '; }
    .header__h1::after {
      content: ' }'; }

.game-options {
  padding: 15px;
  background-color: #247b7b;
  font-family: "Muli", sans-serif;
  font-size: 2rem;
  text-align: center;
  grid-area: options;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .game-options-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
    line-height: 3rem;
    color: #FFFFFA; }
    .game-options-title::before {
      content: '{ '; }
    .game-options-title::after {
      content: ' }'; }
  .game-options-info {
    color: #FFFFFA;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px; }
  .game-options__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px; }
  .game-options__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .game-options-labels {
    width: 75%;
    color: #FFFFFA;
    border: 3px solid #FFFFFA;
    background-color: #44a1a0;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0 auto 10px;
    cursor: pointer; }
  .game-options-radio {
    position: absolute;
    opacity: 0; }
  .game-options-radio:focus + label {
    outline: #1B3341 auto 3px; }
  .game-options-radio:checked + label {
    background-color: #1B3341; }
  .game-options-start {
    text-transform: uppercase;
    width: 75%;
    font-size: 2rem;
    font-family: "Muli", sans-serif;
    color: #FFFFFA;
    border: 1px solid #FFFFFA;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0d5c63;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out; }
    .game-options-start:focus {
      outline: #1B3341 auto 3px; }
    .game-options-start:hover {
      color: #0d5c63;
      border-color: #0d5c63;
      background-color: #FFFFFA; }

.game {
  background: #44a1a0; }

.game-wrapper {
  min-height: 100%;
  max-width: 1280px;
  margin: 0 10%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: 'header header header header header header header header' 'options options timer timer timer timer timer timer' 'options options game game game game game game' 'footer footer footer footer footer footer footer footer'; }

.game-grid-wrapper {
  grid-area: game;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.grid-container {
  background-color: #247b7b;
  max-width: 512px;
  max-height: 512px;
  width: 40vw;
  height: 40vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, calc(100% / 4)); }

.tile {
  position: relative;
  border: 5px solid #FFFFFA;
  cursor: pointer; }

.correct-tile {
  background: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.pug,
.salad,
.coffee {
  position: absolute;
  top: 0;
  left: 0; }

.game-results {
  font-family: "Muli", sans-serif;
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 92, 99, 0.5)), to(rgba(13, 92, 99, 0.5)));
  background: -webkit-linear-gradient(left, rgba(13, 92, 99, 0.5), rgba(13, 92, 99, 0.5));
  background: -o-linear-gradient(left, rgba(13, 92, 99, 0.5), rgba(13, 92, 99, 0.5));
  background: linear-gradient(to right, rgba(13, 92, 99, 0.5), rgba(13, 92, 99, 0.5));
  display: none;
  top: 0;
  left: 0; }
  .game-results-wrapper {
    border: 10px solid #FFFFFA;
    background: #247b7b;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px; }
  .game-results-heading {
    font-size: 3rem;
    font-family: "Muli", sans-serif;
    color: #FFFFFA; }
  .game-results__total {
    font-family: "Muli", sans-serif;
    font-size: 2rem;
    color: #FFFFFA;
    margin: 0; }
  .game-results__accuracy {
    font-family: "Muli", sans-serif;
    font-size: 2rem;
    color: #FFFFFA;
    margin: 0 0 20px 0; }
  .game-results-button {
    text-transform: uppercase;
    width: 75%;
    font-size: 2rem;
    font-family: "Muli", sans-serif;
    color: #FFFFFA;
    border: 1px solid #FFFFFA;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0d5c63;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out; }
    .game-results-button:focus {
      outline: #1B3341 auto 3px; }
    .game-results-button:hover {
      color: #0d5c63;
      border-color: #0d5c63;
      background-color: #FFFFFA; }

.game-menu {
  margin: 0 auto;
  width: 75%;
  background-color: #247b7b;
  grid-area: timer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .game-menu-difficulty {
    color: #FFFFFA;
    line-height: 2rem;
    font-size: 2rem;
    font-family: "Muli", sans-serif;
    margin: 0 0 0 10px;
    text-transform: capitalize; }
  .game-menu-timer {
    color: #FFFFFA;
    font-size: 4rem;
    font-family: "Muli", sans-serif;
    margin: 0; }
  .game-menu__check-button {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2rem;
    font-family: "Muli", sans-serif;
    color: #FFFFFA;
    border: 1px solid #FFFFFA;
    margin-right: 10px;
    background-color: #0d5c63;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out; }
    .game-menu__check-button:focus {
      outline: #1B3341 auto 3px; }
    .game-menu__check-button:hover {
      color: #0d5c63;
      border-color: #0d5c63;
      background-color: #FFFFFA; }

.footer {
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer-anchor-links {
    text-decoration: none;
    color: black;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out; }
    .footer-anchor-links:hover {
      color: #FFFFFA; }
  .footer-text {
    font-family: "Muli", sans-serif;
    font-size: 1.4rem;
    text-align: right;
    margin: 20px 0; }

@media (max-width: 1255px) {
  .game-wrapper {
    grid-template-areas: 'header header header header header header header header' 'options options options timer timer timer timer timer' 'options options options game game game game game' 'footer footer footer footer footer footer footer footer'; }
  .game-menu {
    width: 80%; } }

@media (max-width: 1150px) {
  .grid-container {
    width: 45vw;
    height: 45vw; }
  .game-menu {
    width: 90%; } }

@media (max-width: 999px) {
  .game-wrapper {
    margin: 0 5%;
    grid-template-areas: 'header header header header header header header header' 'options options options options options options options options' 'timer timer timer timer timer timer timer timer' 'game game game game game game game game' 'footer footer footer footer footer footer footer footer'; }
  .game-options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 20px; }
    .game-options-title::before {
      content: ''; }
    .game-options-title::after {
      content: ':'; }
    .game-options-description {
      width: 25%;
      margin-right: 10px; }
    .game-options__container {
      width: 75%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .game-options__section {
      width: calc(100% / 3);
      margin-bottom: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .game-options-labels {
      width: 85%; }
    .game-options-start {
      width: calc(100% / 3);
      height: 50%;
      margin: auto auto; }
  .game-menu {
    margin-bottom: 20px; }
  .grid-container {
    height: 100vw;
    width: 100vw; }
  .game-results-wrapper {
    width: 75%; } }

@media (max-width: 760px) {
  .game-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .game-options-description {
      width: 100%;
      margin-right: 0; }
    .game-options-info {
      text-align: center; }
    .game-options-title::before {
      content: '{ '; }
    .game-options-title::after {
      content: ' }'; }
    .game-options__container {
      width: 100%; }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer-text {
      margin: 20px 0 10px 0; } }

@media (max-width: 634px) {
  .game-menu {
    width: 100%; } }

@media (max-width: 600px) {
  .game-wrapper {
    min-width: 320px;
    margin: 0; }
  .grid-container {
    min-width: 320px;
    min-height: 320px;
    width: 85vw;
    height: 85vw; }
  .tile {
    border-width: 3px; }
  .game-options__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .game-options__section {
    width: 100%;
    margin-bottom: 20px; }
  .game-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px; }
    .game-menu-difficulty {
      margin-left: 0; }
    .game-menu__check-button {
      margin-right: 0; }
  .footer-text {
    text-align: center; } }

html {
  font-size: 62.5%; }

img {
  max-width: 100%;
  display: block;
  width: 100%; }
