@import 'partials/setup';
@import 'partials/variables';
@import 'partials/header';
@import 'partials/game-options';
@import 'partials/grid';
@import 'partials/game-results';
@import 'partials/game-timer';
@import 'partials/footer';
@import 'partials/responsive';

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    display: block;
    width: 100%;
}