.game-results {
    font-family: $main-font;
    position: fixed;
    // overflow-y: scroll;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(13, 92, 99, 0.5), rgba(13, 92, 99, 0.5));
    display: none;

    &-wrapper {
        border: 10px solid $font-color;
        background: $secondary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-heading {
        font-size: 3rem;
        font-family: $main-font;
        color: $font-color;
    }

    &__accuracy {
        font-family: $main-font;
        font-size: 2rem;
        color: $font-color;
    }

    &-button {
        
    }
}