.game-menu {
    margin: 0 auto;
    width: 75%;
    background-color: $secondary-color;
    grid-area: timer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-difficulty {
        line-height: 2rem;
        font-size: 2rem;
        font-family: $main-font;
        margin: 0 0 0 10px;
        text-transform: capitalize;
    }

    &-timer {
        font-size: 4rem;
        font-family: $main-font;
        margin: 0;
    }

    &__check-button {
        font-size: 2rem;
        font-family: $main-font;
        color: $font-color;
        border: 1px solid $font-color;
        margin-right: 10px;
        background-color: $accent-color;
        transition: all 0.2s ease-in-out;

        &:focus {
            outline: $highlight-color auto 3px;
        }

        &:hover {
            color: $accent-color;
            border-color: $accent-color;
            background-color: $font-color;
        }
    }
}
