.game-options {
    font-family: 'Muli', sans-serif;
    font-size: 2rem;
    text-align: center;
    grid-area: options;

    &-title {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 4rem;
        line-height: 4rem;
        color: $font-color;

        &::before {
            content: '{ ';
        }

        &::after {
            content: ' }';
        }
    }

    &-info {
        color: $font-color;
        text-align: left;
        margin-top: 0;
        margin-bottom: 10px;
    }

    &__section {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &-labels {
        background-color: $accent-color;
        // margin: 5px 100px;
    }

    &-radio {
        position: absolute;
        opacity: 0;
    }

    &-radio:focus + label {
        outline: $accent-color auto 3px;
    }

    &-radio:checked + label {
        background-color: $primary-color;
    }
}