body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "header header header"
                         "options game game"
                         "footer footer footer";

        
}

header {
    grid-area: header;
}

.game-options {
    grid-area: options;
}

.grid-container {
    grid-area: game;
    // margin: 0 auto;
    width: 65%;
    display: grid;
    grid-template-columns: repeat(5, minmax(calc(100% / 5), 1fr));
    // grid-template-rows: repeat(7, minmax(16px, 1fr));
}

.tile::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: 100%;
}

.tile {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

.correct-tile {
    background: black;
}

footer {
    grid-area: footer;
}