.game {
    background: $primary-color;
}

.game-wrapper {
    min-height: 100%;
    max-width: 1280px;
    margin: 0 10%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 'header header header header header header header header'
                         'options options timer timer timer timer timer timer'
                         'options options game game game game game game'
                         'footer footer footer footer footer footer footer footer';
}

.game-grid-wrapper {
    grid-area: game;
    display: flex;
    align-items: flex-end;
}

.grid-container {
    background-color: $secondary-color;
    max-width: 512px;
    max-height: 512px;
    width: 40vw;
    height: 40vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, calc(100% / 4));
}

.tile {
    position: relative;
    border: 5px solid $font-color;
    cursor: pointer;
}

.correct-tile {
    background: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pug,
.salad,
.coffee {
    position: absolute;
    top: 0;
    left: 0;
}